.footer {
  box-sizing: border-box;
  color: white;

  background-color: #0a2850;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
}

.footer__social_content_social {
  margin-left: 80px;
}

.footer__logo {
  width: 58px;
  height: 80px;
  z-index: 2;
}

.footer__social-heading {
  margin-bottom: 20px;
  margin-left: auto;
  margin-top: 0px;
}

.footer__list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footer__social-link {
  color: white;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  align-items: baseline;
}

.footer__list-i tem {
  margin-left: auto;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 1;
}

.footer__copyright {
  padding-top: 108px;
  padding-bottom: 44px;
  padding-left: 80px;
}
