.footer {
  box-sizing: border-box;
  color: white;
  padding: 60px 80px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: center;
}

.footer__column_content_hours {
  margin-left: auto;
}

.footer__column_content_social {
  margin-left: 80px;
}

.footer__logo {
  width: 58px;
  height: 80px;
}

.footer__column-heading {
  margin-bottom: 20px;
  margin-left: auto;
  margin-top: 0px;
}

.footer__list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
