.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 100%;
  padding: 15px;
  color: black;
  border: none;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  margin-top: 8px;
  border-radius: 4px;
}

.form__button {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 32px;
}

.form__button :hover {
  background-color: blue;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.form__input:focus {
  border: 2px solid #007bff;
  outline: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.inter {
  font-family: "Inter", serif;
  font-weight: 400;
  font-weight: 500;
  font-weight: 700;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.info {
  font-size: 1rem;
}

.content {
  background-color: #0a2850;
}
