@import url("../blocks/header.css");
@import url("../blocks/main.css");
@import url("../blocks/nav.css");
@import url("../blocks/page.css");
@import url("../blocks/recipes.css");

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat
    center/cover;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.form {
  max-width: 385px;
  max-height: 1000px;
  margin-bottom: 120px;
}

.form-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form_input {
  width: 100%;
  padding: 15px;
  color: black;
  border: none;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  margin-top: 8px;
  border-radius: 4px;
}

.form_input_color {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease;
}

.fieldset {
  padding: 0px;
}

.form_input_color:hover {
  background-color: blue;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.form_input:focus {
  border: 2px solid #007bff;
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
