@import url("../blocks/header.css");
@import url("../blocks/main.css");
@import url("../blocks/nav.css");
@import url("../blocks/page.css");
@import url("../blocks/recipes.css");

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat
    center/cover;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.form {
  max-width: 385px;
}

.form-container {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form_input {
  width: 100%;
  padding: 10px;
  color: black;
  border: none;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form_input_color {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
