.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  color: black;
}

.inter {
  font-family: "Inter", serif;
  font-weight: 400;
  font-weight: 500;
  font-weight: 700;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.info {
  font-size: 1rem;
}

.content {
  background-color: #0a2850;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -40px;
}

.nav__links {
  margin: 8px 0 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-family: inter;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background: #fff url("../images/background_header.svg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  padding: 30px 80px 40px;
}

.header__title {
  flex-wrap: wrap;
  margin-top: 183px;
  width: 709px;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
}

.header__image {
  max-width: 636px;
  display: flex;
  justify-content: end;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  align-items: flex-end;
}

.header__paragraph {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat
    center/cover;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.reservation__form {
  max-width: 385px;
  max-height: 1000px;
  margin-bottom: 120px;
}

.form-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form_input {
  width: 100%;
  padding: 15px;
  color: black;
  border: none;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  margin-top: 8px;
  border-radius: 4px;
}

.form__input_color {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 32px;
}

.fieldset {
  padding: 0px;
}

.form__input_color:hover {
  background-color: blue;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.form__input:focus {
  border: 2px solid #007bff;
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.recipes {
  background-image: url("background_recipes.svg");
  background-color: #0a2750;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}

.recipes__title {
  font-family: "Inter";
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  color: #ffffff;
  max-width: 438px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 80px;
}

.recipes__videos {
  font-family: "Noto Serif";
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: 80px;
  bottom: auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: fit-content;
}

.recipes__video-item {
  position: relative;
}

.recipes__caption {
  bottom: auto;
  display: flex;
  justify-content: space-between;
}
